{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<section id="contact" class="py-5 bg-light rounded-3">
    <div class="container">
        <h1 class="text-center mb-2">Contact Us</h1>
        <div class="row justify-content-center pb-0">
            <div class="col-md-9 col-12 pb-0">
                <form action="{{ url_for('submit_contact_form') }}" method="POST">
                    {{ form.hidden_tag() }}
                    
                    <!-- Name Field -->
                    <div class="form-group pt-0">
                        {{ form.name.label(class="form-label custom-form-label") }}  <!-- Custom label class -->
                        {{ form.name(class="form-control custom-form-field", placeholder="Your Name") }}
                    </div>
                    
                    <!-- Email Field -->
                    <div class="form-group pt-0">
                        {{ form.email.label(class="form-label custom-form-label") }}  <!-- Custom label class -->
                        {{ form.email(class="form-control custom-form-field", placeholder="Your Email") }}
                    </div>
                    
                    <!-- Phone Field -->
                    <div class="form-group pt-0">
                        {{ form.phone.label(class="form-label custom-form-label") }}  <!-- Custom label class -->
                        {{ form.phone(class="form-control custom-form-field", placeholder="Your Phone (Optional)") }}
                    </div>
                    
                    <!-- Message Field -->
                    <div class="form-group pt-0">
                        {{ form.message.label(class="form-label custom-form-label") }}  <!-- Custom label class -->
                        {{ form.message(class="form-control custom-form-field", rows="5", placeholder="Your Message") }}
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary custom-form-button">Send Message</button>  <!-- Custom button class -->
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
